<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head th:replace="fragments/header :: header"></head>
    <body>
        <div th:replace="fragments/navigation-bar :: navigation-bar"></div>

        <div th:replace="fragments/screen-blocker :: screen-blocker"></div>

        <div class="container">
            <br>
            <h2>Bottles</h2>
            <br>
            <a sec:authorize="hasRole(T(de.uniba.dsg.beverage_store.spring_boot.model.db.Role).ROLE_MANAGER.name())" th:href="@{/beverage/bottle/add}">Add new bottle</a>
            <br>

            <div th:replace="fragments/pagination-control :: pagination-control(url = @{/beverage/bottle}, currentPage = ${currentPage}, numberOfPages = ${numberOfPages})"></div>

            <div class="cnt-tbl-beverages">
                <table id="tbl-bottles" class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Image</th>
                            <th scope="col">Name</th>
                            <th scope="col">Volume</th>
                            <th scope="col">Volume Percent</th>
                            <th scope="col">Is Alcoholic</th>
                            <th scope="col">Supplier</th>
                            <th scope="col">Price</th>
                            <th scope="col">In Stock</th>
                            <th sec:authorize="hasRole(T(de.uniba.dsg.beverage_store.spring_boot.model.db.Role).ROLE_CUSTOMER.name())" scope="col">Quantity</th>
                            <th scope="col">Action(s)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="bottle : ${bottles}"
                            th:with="quantityAllowed = ${bottle.allowedInStock < 5 ? bottle.allowedInStock : 5}, isEmptyStock = ${bottle.allowedInStock == 0}"
                            th:attr="data-id=${bottle.id}">
                            <td>
                                <img width="120" th:src="${bottle.picUrl}">
                            </td>
                            <td th:text="${bottle.name}"></td>
                            <td th:text="${#numbers.formatDecimal(bottle.volume, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
                            <td th:text="${#numbers.formatDecimal(bottle.volumePercent, 1, 'DEFAULT', 2, 'DEFAULT')} + '%'"></td>
                            <td th:text="${bottle.volumePercent > 0}
                                            ? 'Yes'
                                            : 'No'"></td>
                            <td th:text="${bottle.supplier}"></td>
                            <td th:text="${#numbers.formatDecimal(bottle.price, 1, 'DEFAULT', 2, 'DEFAULT')} + '€'"></td>
                            <td class="txt-in-stock" th:text="${bottle.allowedInStock}"></td>
                            <td sec:authorize="hasRole(T(de.uniba.dsg.beverage_store.spring_boot.model.db.Role).ROLE_CUSTOMER.name())">
                                <select class="form-control bottleQuantity" th:disabled="${isEmptyStock}">
                                    <option th:if="${!isEmptyStock}"
                                            th:each="i : ${#numbers.sequence(1, quantityAllowed)}"
                                            th:value="${i}"
                                            th:text="${i}"></option>
                                </select>
                            </td>
                            <td>
                                <button type="button"
                                        class="btn btn-primary btn-add-bottle-stock"
                                        sec:authorize="hasRole(T(de.uniba.dsg.beverage_store.spring_boot.model.db.Role).ROLE_MANAGER.name())"
                                        th:attr="data-id=${bottle.id}">Add Stock</button>

                                <a class="btn btn-primary"
                                   th:href="@{'/beverage/bottle/edit/' + ${bottle.id}}"
                                   sec:authorize="hasRole(T(de.uniba.dsg.beverage_store.spring_boot.model.db.Role).ROLE_MANAGER.name())">Edit</a>

                                <button type="button"
                                        class="btn btn-primary btn-add-bottle"
                                        sec:authorize="hasRole(T(de.uniba.dsg.beverage_store.spring_boot.model.db.Role).ROLE_CUSTOMER.name())"
                                        th:disabled="${isEmptyStock}"
                                        th:attr="data-id=${bottle.id}">Add To Cart</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div th:replace="fragments/footer :: footer"></div>
    </body>

    <script>
        $('.btn-add-bottle').click(function () {
            let id = parseInt($(this).data('id'));
            let quantity = parseInt($(this).closest('tr').find('.bottleQuantity').val());

            addItemToCart(id, quantity, true, (addedItem) => {
                let allowedStock = addedItem.inStock - addedItem.quantity;
                let allowedQuantity = allowedStock < 5 ? allowedStock : 5;

                let bottleTr = $('#tbl-bottles tr[data-id="' + addedItem.beverageId +'"]');
                let btnAddToCart = bottleTr.find('.btn-add-bottle');
                let selectQuantity = bottleTr.find('.bottleQuantity');

                bottleTr.find('.txt-in-stock').text(allowedStock);

                updateAllowedQuantity(allowedQuantity, selectQuantity, btnAddToCart);
            });
        });

        $('.btn-add-bottle-stock').click(function () {
            let id = parseInt($(this).data('id'));

            let quantity = prompt("Please enter the quantity");

            if (quantity != null && isValidPositiveInteger(quantity))
                addStockToBeverage(id, parseInt(quantity), true, (bottle) => {
                    let bottleTr = $('#tbl-bottles tr[data-id="' + id +'"]');

                    bottleTr.find('.txt-in-stock').text(bottle.inStock);
                });
            else
                alertify.error("Please enter a valid quantity.");
        });
    </script>
</html>