<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: header"></head>
    <body>
        <div th:replace="fragments/navigation-bar :: navigation-bar"></div>

        <div th:if="${hasServerError == true}" class="alert alert-danger" role="alert">
            Unexpected server error.
        </div>

        <div class="container">
            <br>
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <h3>Address List</h3>
                        <br>

                        <div id="cnt-tbl-address">
                            <table id="tbl-address" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Street</th>
                                        <th scope="col">House No.</th>
                                        <th scope="col">Postal Code</th>
                                        <th scope="col">Action(s)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="address : ${addresses}">
                                        <td th:text="${address.name}"></td>
                                        <td th:text="${address.street}"></td>
                                        <td th:text="${address.houseNumber}"></td>
                                        <td th:text="${address.postalCode}"></td>
                                        <td>
                                            <a th:href="@{/address/edit/{id}(id=${address.id})}" class="btn btn-primary">Edit</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card">
                        <h3>Add New Address</h3>
                        <br>

                        <form method="POST" th:action="@{/address}" th:object="${addressDTO}">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="name">Name</label>
                                        <input id="name" class="form-control" type="text" th:field="*{name}" />
                                        <small class="form-text text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="street">Street</label>
                                        <input id="street" class="form-control" type="text" th:field="*{street}" />
                                        <small class="form-text text-danger" th:if="${#fields.hasErrors('street')}" th:errors="*{street}"></small>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="house-number">House Number</label>
                                        <input id="house-number" class="form-control" type="text" th:field="*{houseNumber}" />
                                        <small class="form-text text-danger" th:if="${#fields.hasErrors('houseNumber')}" th:errors="*{houseNumber}"></small>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="postal-code">Postal Code</label>
                                        <input id="postal-code" class="form-control" type="number" th:field="*{postalCode}" />
                                        <small class="form-text text-danger" th:if="${#fields.hasErrors('postalCode')}" th:errors="*{postalCode}"></small>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <button class="btn btn-primary btn-block" type="submit">Add</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div th:replace="fragments/footer :: footer"></div>
    </body>
</html>