<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: header"></head>
    <body>
        <div class="container">
            <div class="d-flex justify-content-center">
                <div id="cnt-login-form">
                    <h2 class="text-center">Beverage Store</h2>
                    <br>
                    <br>

                    <div class="card">
                        <form id="login-form" method="POST" th:action="@{/login}">
                            <p th:if="${param.error}" class="text-center text-danger">Wrong Username or Password</p>
                            <h2 class="text-center"> Sign In </h2>
                            <br>

                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="username" placeholder="Username" required="required">
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="password" class="form-control" name="password" placeholder="Password" required="required">
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block"> Sign In </button>
                            </div>
                        </form>

                        <a th:href="@{/register/customer}" class="btn btn-block btn-warning">Register as Customer</a>
                    </div>
                </div>
            </div>
        </div>

        <div th:replace="fragments/footer :: footer"></div>
    </body>
</html>